* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    height: 100px;
}

main {
    background-color: rgb(44, 44, 44);
}

main .container {
    min-height: calc(100vh - 100px);
}

.poster {
    width: 100%;
}

.title {
    font-weight: 700;
}

.year, .author {
    font-size: 14px;
}

.year {
    font-style: italic;
}

